In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def simplifyDatabase(json_path,destination_path_name):
    events=pd.read_json(json_path)
    shots=events.loc[events['subEventName'] == 'Shot']
    teamId=np.array(shots.teamId)
    m = len(shots)
    position_shots=shots.positions
    position_shots=np.array(position_shots)
    tags=shots.tags
    tags=np.array(tags)
    x_coord = np.zeros(m)
    y_coord = np.zeros(m)
    for i in range(m):
            x_coord[i]=position_shots[i][0]['x']*1.05
            y_coord[i]=position_shots[i][0]['y']*0.68
    angles=np.zeros(m)
    distance=np.zeros(m)
    
    for i in range(m):
            temp = np.sqrt(np.square(x_coord[i]-105) + np.square(34-y_coord[i]))
            distance[i]=temp
    distance=np.around(distance,2)
    angles=np.zeros(m)
    for i in range(m):
        dx = (np.square(x_coord[i]-105) + np.square(30.34-y_coord[i]))
        dy = (np.square(x_coord[i]-105) + np.square(37.66-y_coord[i]))
        temp = (dx+dy-np.square(7.32))/(2*np.sqrt(dx)*np.sqrt(dy))
        angles[i]=temp
    angles=np.arccos(angles);
    angles=(angles/np.pi)*180;
    np.around(angles, decimals=2)
    np.around(angles, decimals=2)
    time = shots.eventSec
    matchPeriod = shots.matchPeriod
    matchPeriod = np.array(matchPeriod)
    time = np.array(time)
    time = time/60
    np.around(time, decimals=2)
    for i in range(len(matchPeriod)):
                if matchPeriod[i]=='1H':
                   matchPeriod[i]=0
                elif matchPeriod[i]=='2H':
                    matchPeriod[i]=1
                elif matchPeriod[i]=='E1':
                    matchPeriod[i]=2
                elif matchPeriod[i]=='E2':
                    matchPeriod[i]=3
                    
    
    for i in range(m):
                if matchPeriod[i]==1:
                   time[i]=time[i]+45
    counter = np.zeros(m)
    left = np.zeros(m)
    right = np.zeros(m)
    head = np.zeros(m)
    goal = np.zeros(m)
    block = np.zeros(m)
    id = shots.id
    id = np.array(id)
    playerId = shots.playerId
    playerId = np.array(playerId)
    for i in range(len(tags)):
        for j in range(len(tags[i])):
            if tags[i][j]['id']==401:
                left[i]=1
            elif tags[i][j]['id']==402:
                right[i]=1
            elif tags[i][j]['id']==403:
                head[i]=1
            elif tags[i][j]['id']==1901:
                counter[i]=1
            elif tags[i][j]['id']==101:
                goal[i]=1
            elif tags[i][j]['id']==2101:
                block[i]=1
    shots = pd.DataFrame({ 'playerId' : playerId, 'id':id, 'x_coordinates': x_coord,
                   'y_coordinates': y_coord, 'blocked':block,
                   'goal': goal,
                    'angles': angles,
                          'distance':distance,
                     'time':time,
                      'matchPeriod':matchPeriod,
                      'right':right,
                      'left':left,
                      'head':head,'counter':counter,'teamId':teamId})
    shots= shots.dropna()
    shots.to_csv(destination_path_name,index=False)

In [3]:
simplifyDatabase(r'C:\Users\ATHARAVA SHUKLA\Desktop\study\Football\events_World_Cup.json','WCtest.csv')

In [4]:
WCtest=pd.read_csv('WCtest.csv')

In [5]:

WCtest

,playerId,id,x_coordinates,y_coordinates,blocked,goal,angles,distance,time,matchPeriod,right,left,head,counter,teamId
0,122940,258612248,91.35,18.36,1.0,0.0,13.458001,20.76,5.452382,0,1.0,0.0,0.0,0.0,16521
1,101699,258612244,94.50,46.92,1.0,0.0,16.244976,16.65,6.785398,0,1.0,0.0,0.0,0.0,14358
2,101857,258612307,90.30,20.40,1.0,0.0,15.513438,20.03,8.771283,0,0.0,1.0,0.0,0.0,14358
3,102157,258612368,97.65,40.80,0.0,1.0,31.772473,10.01,11.556615,0,0.0,0.0,1.0,0.0,14358
4,122671,258612558,90.30,25.84,1.0,0.0,21.781597,16.81,21.104604,0,0.0,1.0,0.0,0.0,16521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,14943,263885208,96.60,36.04,0.0,1.0,45.075577,8.64,68.153044,1,1.0,0.0,0.0,0.0,9598
1415,69409,263885299,68.25,41.48,0.0,0.0,10.929260,37.50,75.038321,1,1.0,0.0,0.0,0.0,9598
1416,3476,263885348,85.05,22.44,1.0,0.0,15.737204,23.06,77.233272,1,0.0,1.0,0.0,0.0,9598
1417,28115,263885485,81.90,51.68,0.0,0.0,11.477376,29.09,86.457388,1,0.0,1.0,0.0,0.0,4418
1418,3476,263885575,73.50,19.72,0.0,0.0,11.031376,34.59,88.151403,1,1.0,0.0,0.0,0.0,9598